.Postman {
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: min-content;
  align-items: start;
  grid-template-areas: 
  "history form"
  "result result";


    @media screen and (max-width: 1200px){ 
      grid-template-columns: 100%; 
      justify-content: center;  
      grid-template-areas: 
    "form"
    "result"
    "history";
    }
}