.Postman {
  display: grid;
  margin: auto;
  width: 90%;
  align-items: start;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content;
    justify-content: center;
    grid-template-areas: 
    "history form"
    "result result";

    @media screen and (max-width: 775px){ 
      grid-template-columns: 95%; 
      justify-content: center;  
      grid-template-areas: 
    "form"
    "result"
    "history";
    }
}